.wrapper {
    margin-top: 4em;
    margin-inline: 1em;
    min-height: 100vh;
}

.container {
    background-color: var(--clr-white);
    padding: 3em 1.75em;
    border-radius: 1.125em;
    border-bottom-right-radius: 5em;
    max-width: 350px;

    margin-inline: auto
}

.age-input-wrapper {
    display: flex;
    gap: .75em
}

.age-input label {
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    font-style: normal;
    letter-spacing: 3px;
    font-size: var(--fz-normal);
}

.age-input input {
    display: block;
    border-radius: .5em;
    border: 2px solid var(--clr-off-white);
    font-weight: var(--fw-extra-bold);
    padding: .75em .75em;
    width: 100%;
    
}

.button-wrapper::before {
    content: '';
    position: absolute;
    display: block;
    border: 1px solid var(--clr-off-white);
    top: 50%;
    left: 0;
    right: 0;
}

.button-wrapper {
    margin-left: auto;
    display: flex;
    justify-content: center;
    position: relative;
}



.button {
    background-color: var(--clr-purple);
    border: 0;
    border-radius: 50%;
    aspect-ratio: 1/1;
    z-index: 1;
}

.button:hover {
    cursor: pointer;
    background-color: var(--clr-black);
}

@media (min-width: 768px) {
    .wrapper {
        display: grid;
        place-content: center;
        margin: 0;
    }

    .container {
        max-width: 850px;
        width: 90%;
    }

    .age-input-wrapper  {
        margin-right: 10em;
    }

    .button-wrapper {
        justify-content: end;
    }
}