@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Italic.ttf') format("truetype");
    font-weight: 400;
    font-style: italic;
}
  
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Bold.ttf') format("truetype");
    font-weight: 700;
  }

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-ExtraBoldItalic.ttf') format("truetype");
    font-weight: 800;
    font-style: italic;
  }

:root {
    --clr-purple: hsl(259, 100%, 65%);
    --clr-red: hsl(0, 100%, 67%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-off-white: hsl(0, 0%, 94%);
    --clr-grey: hsl(0, 0%, 86%);
    --clr-smokey-grey: hsl(0, 1%, 44%);
    --clr-black: hsl(0, 0%, 8%);

    --fz-big: 2rem;

    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extra-bold: 800;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}


body {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
}